<h1> make your mark </h1>

<form action="create_book">
  <input type="text" name="caption" placeholder="caption">
  
   <input type ="text" name="title" placeholder="name">
  
  
  <input type ="text" name="url" placeholder="image url">
  
  
  
  
  
  <input type ="submit">
    
  
  
  
  
</form>